/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */





#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #f8f8f8;
    border-color : #e7e7e7;
    border-right-style : solid; 

}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}


#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 10px;
    line-height: 40px;
    font-size : 17px;
    border-bottom-color : #e7e7e7;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: rgb(61,157,113);
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: rgb(61,157,113);
    background: none;
}


    #wrapper {
        padding-left: 200px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 200px;
        top: 52px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {

        padding: 0px;
        position: relative;
         width: 105%;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }



.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
   }
.gridListdemoBasicUsage .green {
  background: #b9f6ca; }
.gridListdemoBasicUsage .yellow {
  background: #ffff8d; }
.gridListdemoBasicUsage .blue {
  background: #84ffff; }
.gridListdemoBasicUsage .purple {
  background: #b388ff; }
.gridListdemoBasicUsage .red {
  background: #ff8a80; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }

body { 
    padding-top: 70px; 
}

.navX {
    border-bottom-color : rgb(61,157,113);
    border-bottom-width: 2px;
}

.panel-default > .panel-heading {
  background-color: rgb(61,157,113);
}

.panel-heading {
    padding : 1px 15px;
}

.home-link:hover {
    text-decoration: none;
    
}

.home-title {
    color : #333;
}

.home-title:hover {
    color: rgb(61,157,113);
}

.home-status {
    color : #777;
}

.btn-primary { 
    background-color: rgb(61,157,113);
    border-color: white;
}

.btn-primary:hover {
    background-color: #27ae60;
    border-color: #16a085;
}

.btn-primary:active {
     background-color: #27ae60;
    border-color: #16a085;
}

.btn-primary:focus {
    background-color: rgb(61,157,113);
    border-color: white;
}

.panel-default > .panel-footer {
  background-color: rgb(61,157,113);
}

.panel-footer {
    padding : 1px 15px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
     background-color: rgb(61,157,113);
}

