  <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                        {{ name }}
                   
                </li>
                <li >
                    
                    <a href="#/app/{{name}}/dashboard">
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true">
                      </span> Dashboard</a>
                </li>
      
                
                <li>
                    <a href="#/app/{{name}}/stats">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"> </span> Stats
                  </a>
                </li>
                <li>

                    <a href="#/app/{{name}}/events"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </span> Events
                    </a>
                </li>
                <li>
                    <a href="#/app/{{name}}/tests">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"> </span> Tests
                  </a>
                </li>
            
                <li>
                    <a href="#/app/{{name}}/config">
                     <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span>
                    Settings
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
           
            <div class="row">
              
              <div class="col-md-12 col-lg-12">
              <div class="panel panel-default">
  
            <div class="panel-body">
  
  
        <h2> Events </h2>
        <hr>
        <h4> Filter </h4>
  	
  
     <form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">Date:</label>
    <input type="datetime-local" class="form-control" ng-model="filter.date">
  </div>
  <div class="form-group">
   <label for="exampleInputName2">Type:</label>
    <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox1" value="option1" ng-model="filter.start" > Start
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox2" value="option2" ng-model="filter.exit"> Exit
</label>
<label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3" ng-model="filter.exception"> Exception
</label>
  </div>
  <label class="checkbox-inline">
  <input type="checkbox" id="inlineCheckbox3" value="option3" ng-model="filter.rejection"> Rejection
</label>
  <button type="submit" class="btn btn-primary" ng-click="filterCPU()">Filter</button>
</form>

<hr>
 <table class="table">
      <thead>
        <tr>
        	<th>#</th>
          <th>Type</th>
          <th>Date</th>
          <th><th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="vertical-align:middle;">1</td>
          <td><h4><span class="label label-default label-primary">Start</span></h4></td>
          <td style="vertical-align:middle;">20/12/2015 05:30 AM</td>
        </tr>
        <tr>
          <td style="vertical-align:middle;">2</td>
          <td><h4><span class="label label-default label-danger">Exception</span></h4></td>
          <td style="vertical-align:middle;">20/12/2015 07:14 AM</td>
          <td style="vertical-align:middle;"><a href="#">Stack Trace</a></td>
        </tr>
        <tr>
          <td style="vertical-align:middle;">3</td>
          <td><h4><span class="label label-default label-danger">Exception</span></td>
          <td style="vertical-align:middle;">20/12/2015 07:20 AM</td>
          <td style="vertical-align:middle;"><a href="#">Stack Trace</a> </td>
        </tr>
  		<tr>
          <td style="vertical-align:middle;">4</td>
          <td><h4><span class="label label-default label-primary">Start</span></h4></td>
          <td style="vertical-align:middle;">20/12/2015 07:35 AM</td>
        </tr>
      </tbody>
    </table>

              </div>
              <div class="panel-footer"> </div>
              </div>

          </div>
            </div>

 					

</div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->