<div class="jumbotron">
<h1>Finish</h1>
<p> Start monitoring your apps </p>
<div class="row">
  <div class="col-md-3 col-md-offset-10">
		<button type="button" class="btn btn-primary btn-lg" ng-click="finish()">Finish</button>
  </div>

</div>
</div>