<div class="jumbotron">

<h1>Config</h1>

<div class="form-group" ng-class="{ 'has-error has-feedback': invalidP}">
<label for="exampleInputEmail1">Port</label>
	 <label ng-show="invalidP" class="control-label" for="inputError2">{{ errorP }} </label>
    <input type="text" class="form-control" id="port" placeholder="Port" ng-model="port">
    <span ng-show="invalidP" class="glyphicon glyphicon-remove form-control-feedback"></span>
  </div>

<div class="row">
  <div class="col-md-3 col-md-offset-10">
		<button type="button" class="btn btn-primary btn-lg ladda-button" ng-click="step1()" ladda-button="next"
		data-style="zoom-in"><span class="ladda-label">Save</span>
	
		</button>
  </div>

</div>

</div>

