
<div ng-hide="init">
<h1>Apps</h1>
<hr>
<div class="row">

<div class="col-md-12 col-lg-12 col-sm-12" ng-hide="no_apps">
  <div class="alert alert-success text-center" role="alert">
    No apps 
    <br>
    <a href="#/app/new" >Add app</a>
  </div>
</div>


<div class="col-md-12 col-lg-12 col-sm-12" ng-hide="alert">
  <div class="alert alert-success text-center" role="alert">
    {{ alert_message }}
  </div>
</div>


<div class="col-xs-12 col-sm-4 col-md-4" ng-repeat="app in apps">
<a href="#/app/{{app.name}}/dashboard/" class="home-link">
<div class="panel panel-default">
      <!-- Panel Contents -->
      <div class="panel-heading"></div>
      <div class="panel-body">
      	<h1 class="home-title">{{app.name}}</h1>
      	<hr>
      	<p class="home-status">Status : Ok </p>
        <p class="home-status">Port : {{app.port}}</p>
        <p class="home-status">Active : 08/15/2015</p>
      </div>
    </div>
    </a>
</div>



</div>

 </div>

