  <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                        {{ name }}
                   
                </li>
                <li >
                    
                    <a href="#/app/{{name}}/dashboard">
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true">
                      </span> Dashboard</a>
                </li>
      
                
                <li>
                    <a href="#/app/{{name}}/stats">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"> </span> Stats
                  </a>
                </li>
                <li>

                    <a href="#/app/{{name}}/events"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </span> Events
                    </a>
                </li>
                <li>
                    <a href="#/app/{{name}}/tests">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"> </span> Tests
                  </a>
                </li>
                <li>
                    <a href="#/app/{{name}}/config">
                     <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span>
                    Settings
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
           

          
          <div class="jumbotron">

<h1>Settings</h1>
<div class="form-group" ng-class="{ 'has-error has-feedback': invalidP}">

	  <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="port"  ng-model="app.name">
    <span ng-show="invalidP" class="glyphicon glyphicon-remove form-control-feedback"></span>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Port</label>
    <input type="text" class="form-control" ng-model="app.port">
  </div>

<div class="row">
  <div class="col-md-3 col-md-offset-10">
		<button type="button" class="btn btn-primary btn-lg ladda-button" ng-click="newApp()" ladda-button="next"
		data-style="zoom-in"><span class="ladda-label">Save</span>
	
		</button>
  </div>

</div>

</div>

           

</div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
