  <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                        {{ name }}
                   
                </li>
                <li >
                    
                    <a href="#/app/{{name}}/dashboard">
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true">
                      </span> Dashboard</a>
                </li>
      
                
                <li>
                    <a href="#/app/{{name}}/stats">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"> </span> Stats
                  </a>
                </li>
                <li>

                    <a href="#/app/{{name}}/events"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </span> Events
                    </a>
                </li>
                <li>
                    <a href="#/app/{{name}}/tests">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"> </span> Tests
                  </a>
                </li>
                <li>
                    <a href="#/app/{{name}}/config">
                     <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span>
                    Settings
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            <div class="row">
              
              <div class="col-md-12 col-lg-12">
              <div class="panel panel-default">
  
            <div class="panel-body">
  
  
        <highchart id="chart1" config="highchartsNG"></highchart>
              </div>
              </div>

          </div>
            </div>
            <div class="row">
              
              <div class="col-md-6 col-lg-6">
              <div class="panel panel-default">
  
            <div class="panel-body">
  
  
        <highchart id="chart2" config="CPU" class="span9"></highchart>
              </div>
              </div>

          </div>

          <div class="col-md-6 col-lg-6">
              <div class="panel panel-default">
  
            <div class="panel-body">
  
  
        <highchart id="chart3" config="Mem" class="span9"></highchart>
              </div>
              </div>

          </div>


            </div>
            <div class="row">
              
              <div class="col-md-5">
              <div class="panel panel-default">
  
            <div class="panel-body">
              <h2>Events</h2>
              <span class="label label-primary">Start</span><p>System start 14/10/2015 at 7:14PM</p>
              <br>
              <span class="label label-danger">Error</span><p>System Fail 14/10/2015 at 9:30PM</p>
  
              </div>
              </div>
              </div>

               <div class="col-md-7">
              <div class="panel panel-default">
  
            <div class="panel-body">
              <h2>Tests</h2>
              <p>Last Run: ApiTests 12/10/2015 at 5:20PM</p>
              <ul class="list-group">
  <li class="list-group-item">Users : 100</li>
  <li class="list-group-item">Response Time Avg: 33.4ms</li>
  <li class="list-group-item"><span class="glyphicon glyphicon-flash badge" aria-hidden="true">.</span>Status : Passed</li>
</ul>
  
              </div>
              </div>
              </div>

            </div>

           

</div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
