<div class="jumbotron">

<h1>New App</h1>
<div class="form-group" ng-class="{ 'has-error has-feedback': invalidP}">

	  <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="port"  ng-model="app.name">
    <span ng-show="invalidP" class="glyphicon glyphicon-remove form-control-feedback"></span>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Port</label>
    <input type="text" class="form-control" ng-model="app.port">
  </div>

<div class="row">
  <div class="col-md-3 col-md-offset-10">
		<button type="button" class="btn btn-primary btn-lg ladda-button" ng-click="newApp()" ladda-button="next"
		data-style="zoom-in"><span class="ladda-label">Add</span>
	
		</button>
  </div>

</div>

</div>