  <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    
                        {{ name }}
                   
                </li>
                <li >
                    
                    <a href="#/app/{{name}}/dashboard">
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true">
                      </span> Dashboard</a>
                </li>
      
                
                <li>
                    <a href="#/app/{{name}}/stats">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"> </span> Stats
                  </a>
                </li>
                <li>

                    <a href="#/app/{{name}}/events"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </span> Events
                    </a>
                </li>
                <li>
                    <a href="#/app/{{name}}/tests">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"> </span> Tests
                  </a>
                </li>
            
                <li>
                    <a href="#/app/{{name}}/config">
                     <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span>
                    Settings
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
            <ul class="nav nav-pills nav-justified">
      <li role="presentation" ><a href="#/app/{{name}}/stats">CPU Load</a></li>
      <li role="presentation" ><a href="#/app/{{name}}/stats/mem">Memory Usage</a></li>
      <li role="presentation" class="active"><a href="#/app/{{name}}/stats/web">Web Requests</a></li>
    </ul>

    <br>
          <div class="row">
							<div class="col-md-12 col-lg-12">
 <div class="panel panel-default">
  
            <div class="panel-body">
  	<h4> Filter </h4>
  	<hr>
  
     <form class="form-inline">
  <div class="form-group">
    <label for="exampleInputName2">From:</label>
    <input type="datetime-local" class="form-control" ng-model="web.from">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail2">To:</label>
    <input type="datetime-local" class="form-control" ng-model="web.to">
  </div>
  <button type="submit" class="btn btn-primary" ng-click="filterWeb()">Filter</button>
</form>
       

              </div>
              </div>								
							</div>

						


 						</div>
            <div class="row">
              
              <div class="col-md-12 col-lg-12">
              <div class="panel panel-default">
  
            <div class="panel-body">
  
  
        <highchart id="chart1" config="WebA"></highchart>
              </div>
              </div>

          </div>
            </div>

            <div class="row">
              
              <div class="col-md-12 col-lg-12">
              <div class="panel panel-default">
  
            <div class="panel-body">
  
  
        <highchart id="chart2" config="FileCounter"></highchart>
              </div>
              </div>

          </div>
            </div>

            <div class="row">
              
              <div class="col-md-12 col-lg-12">
              <div class="panel panel-default">
  
            <div class="panel-body">
  
  
        <highchart id="chart3" config="FileTypeCounter"></highchart>
              </div>
              </div>

          </div>
            </div>

 					

</div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->