<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        {{ name }}
                   </a>
                </li>
                <li >
                    
                    <a href="#/app/{{name}}/dashboard">
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true">
                      </span> Dashboard</a>
                </li>
      
                
                <li>
                    <a href="#/app/{{name}}/stats">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"> </span> Stats
                  </a>
                </li>
                <li>

                    <a href="#/app/{{name}}/events"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </span> Events
                    </a>
                </li>
                <li>
                    <a href="#/app/{{name}}/tests">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"> </span> Tests
                  </a>
                </li>
                
                <li>
                    <a href="#/app/{{name}}/config">
                     <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span>
                    Settings
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
            

<div class="panel panel-default">
  
  <div class="panel-body">
  <ol class="breadcrumb">
  <li><a href="#/app/{{name}}/tests/">Collections</a></li>
  <li class="active">{{collection.name}}</li>
</ol>
  <h1> {{collection.name}} </h1>
  <p> {{collection.description}}</p>

  <a href="#/app/{{name}}/tests/collection/{{collection.name}}/run" class="btn btn-primary" role="button">
  <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
  Run
  </a>
  <a href="#" class="btn btn-primary" role="button">
  <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
  Results
  </a>
  <a href="#" class="btn btn-danger" role="button">
  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
  Delete
  </a>


<br><br>
   <div class="input-group">
      <input type="text" class="form-control" placeholder="Filter by name">
      <span class="input-group-btn">
        <a class="btn btn-default" href="#/app/{{name}}/tests/collection/{{collection.name}}/new" role="button">New test
        </a>
      </span>
    </div><!-- /input-group -->
    
 <div class="list-group">
    <div ng-repeat="test in tests">
     <a href="#/app/{{name}}/tests/collection/{{collection.name}}" class="list-group-item">{{test.name}} | 
     <span ng-class="label {label-default: test.method == 'GET'"> {{test.method}} </span>
        {{ test.url }}    
     </a>
  </div>
</div>
  </div><!-- /.col-lg-6 -->
    <div class="panel-footer"></div>
  </div>
</div>
                        
                  
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>