  <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        {{ name }}
                   </a>
                </li>
                <li >
                    
                    <a href="#/app/{{name}}/dashboard">
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true">
                      </span> Dashboard</a>
                </li>
      
                
                <li>
                    <a href="#/app/{{name}}/stats">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"> </span> Stats
                  </a>
                </li>
                <li>

                    <a href="#/app/{{name}}/events"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </span> Events
                    </a>
                </li>
                <li>
                    <a href="#/app/{{name}}/tests">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"> </span> Tests
                  </a>
                </li>
                
                <li>
                    <a href="#/app/{{name}}/config">
                     <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span>
                    Settings
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sx-12">
            
 <div class="alert alert-success text-center" role="alert" ng-hide="alert">
    {{ alert_message }}
  </div>

<div class="panel panel-default">
 
  <div class="panel-body">
  <h1>Collections</h1>
  <hr>
  <div class="input-group">
      <input type="text" class="form-control" placeholder="Filter by name">
      <span class="input-group-btn">
        <a class="btn btn-default" href="#/app/{{name}}/tests/collection/new" role="button">New Collection</a>
      </span>
    </div><!-- /input-group -->
  
    <div class="list-group">
    <div ng-repeat="collection in collections">
     <a href="#/app/{{name}}/tests/collection/{{collection.name}}" class="list-group-item">{{collection.name}}</a>
  
  </div>
  </div><!-- /.col-lg-6 -->
</div>
<div class="panel-footer"></div>
  </div>
</div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
