<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        {{ name }}
                   </a>
                </li>
                <li >
                    
                    <a href="#/app/{{name}}/dashboard">
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true">
                      </span> Dashboard</a>
                </li>
      
                
                <li>
                    <a href="#/app/{{name}}/stats">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"> </span> Stats
                  </a>
                </li>
                <li>

                    <a href="#/app/{{name}}/events"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </span> Events
                    </a>
                </li>
                <li>
                    <a href="#/app/{{name}}/tests">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"> </span> Tests
                  </a>
                </li>
                
                <li>
                    <a href="#/app/{{name}}/config">
                     <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span>
                    Settings
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                    <h2> Completed <span ng-if="passed" class="glyphicon glyphicon-ok" aria-hidden="true"></span><span ng-if="fail" class="glyphicon glyphicon-remove" aria-hidden="true"></span> </h2>
             <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"  ng-style="pStyle">
    <span class="sr-only">45% Complete</span>
  </div>
</div>

</div>
                        
                </div>


<div class="row" ng-if="completed">
							<div class="col-md-12 col-lg-12">
 <div class="panel panel-default">
  
            <div class="panel-body">
  
  
     <table class="table">
      <thead>
        <tr>
          <th>Total Requests</th>
          <th>Max Latency</th>
          <th>Min Latency</th>
          <th>Total Time</th>
          <th>Total Errors</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{result.totalRequests}}</td>
          <td>{{result.maxLatency}} ms</td>
          <td>{{result.minLatency}} ms</td>
          <td>{{result.time}} s</td>
          <td>{{result.errors}}</td>
        </tr>
  
      </tbody>
    </table>
       

              </div>
              </div>								
							</div>

						


 						</div>


                <div class="row">
              
              <div class="col-md-12 col-lg-12">
              <div class="panel panel-default">
  
            <div class="panel-body">
  
  
        <highchart id="chart1" config="Latency"></highchart>
         <highchart id="chart2" config="CPU"></highchart>
         <highchart id="chart3" config="Mem"></highchart>
              </div>
              </div>

          </div>
            </div>



            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>