<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        {{ name }}
                   </a>
                </li>
                <li >
                    
                    <a href="#/app/{{name}}/dashboard">
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true">
                      </span> Dashboard</a>
                </li>
      
                
                <li>
                    <a href="#/app/{{name}}/stats">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"> </span> Stats
                  </a>
                </li>
                <li>

                    <a href="#/app/{{name}}/events"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </span> Events
                    </a>
                </li>
                <li>
                    <a href="#/app/{{name}}/tests">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"> </span> Tests
                  </a>
                </li>
                
                <li>
                    <a href="#/app/{{name}}/config">
                     <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span>
                    Settings
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
            

<div class="panel panel-default">
  
  <div class="panel-body">
  <h1> New Collection </h1>
    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="name" ng-model="nameC" >
  </div>
 
  <div class="form-group">
    <label for="exampleInputEmail1">Description(Optional)</label>
    <textarea class="form-control" rows="3" id="description" ng-model="description"></textarea>
  </div>
 
  
  <button type="submit" class="btn btn-lg btn-primary" ng-click="create()">Create</button>
</form>
  </div><!-- /.col-lg-6 -->
    
  </div>
</div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>