<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        {{ name }}
                   </a>
                </li>
                <li >
                    
                    <a href="#/app/{{name}}/dashboard">
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true">
                      </span> Dashboard</a>
                </li>
      
                
                <li>
                   <a href="#/app/{{name}}/stats">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"> </span> Stats
                  </a>
                </li>
                <li>

                    <a href="#/app/{{name}}/events"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </span> Events
                    </a>
                </li>
                <li>
                    <a href="#/app/{{name}}/tests">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"> </span> Tests
                  </a>
                </li>
                
                <li>
                    <a href="#/app/{{name}}/config">
                     <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span>
                    Settings
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
            

<div class="panel panel-default">
  
  <div class="panel-body">
  <ol class="breadcrumb">
  <li><a href="#/app/{{name}}/tests/">Collections</a></li>
  <li><a href="#/app/{{name}}/tests/collection/{{collectionName}}">{{collectionName}}</a></li>
  <li class="active">New Test</li>
</ol>
  <h2> New Test </h2>
   

      <div ng-if="scanForm">

        <form>
          <div class="form-group">
    <label for="exampleInputEmail1">Web Form Url</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="www.example.com/item/register">
  </div>
  <p>
    <button type="submit" class="btn btn-danger" ng-click="return()">Return</button>
    <button type="submit" class="btn btn-md btn-primary" data-toggle="modal" data-target="#myModal" ng-click="scan()">Scan</button>

  </p>
        </form>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title" id="myModalLabel">Scanning...</h4>
      </div>
      <div class="modal-body">
        <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-success active" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"  ng-style="pStyle">
    <span class="sr-only">45% Complete</span>
  </div>
</div>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>

      </div>


      <div ng-if="apiForm">

 <form>

<div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="nameT" ng-model="fields.name">
  </div>

 <div class="row">
 <div class="col-md-3">
 <div class="form-group">
 <label for="exampleInputEmail1">Method</label>
 <select class="form-control" ng-model="fields.method">
  <option value="GET" selected="selected">GET</option>
  <option>POST</option>
  <option>PUT</option>
  <option>DELETE</option>
</select>
  </div>
  </div>
  <div class="col-md-9">
  <div class="form-group">
    <label for="exampleInputEmail1">Url</label>
    <input type="text" class="form-control" id="exampleInputEmail1" ng-model="fields.url">
  </div>
  </div>
</div>

  <div class="row">
 <div class="col-md-4">
 <div class="form-group">
   
    <label for="inputPassword3" class="col-sm-2 control-label">Key</label>
  </div>
  </div>
  <div class="col-md-6">
  <div class="form-group">
   
    <label for="inputPassword3" class="col-sm-2 control-label">Value</label>
  </div>
  </div>
  
  <div class="col-md-2">
  <div class="form-group">
 
    <label for="inputPassword3" class="col-sm-2 control-label"></label>
  </div>

</div>
</div>
 
<fieldset  ng-repeat="param in params">
      
 
  <div class="row">
 <div class="col-md-4">
 <div class="form-group">
   
    <input type="text" class="form-control" ng-model="param.key">
  </div>
  </div>
  <div class="col-md-6">
  <div class="form-group">
   
    <input type="text" class="form-control" ng-model="param.value">
  </div>
  </div>
  
  <div class="col-md-2">
  <div class="form-group">
 
    <button class="btn btn-danger form-control text-center" ng-show="$last" ng-click="removeParam()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
    </div>
  </div>

</div>


  </fieldset>
  <button type="submit" class="btn btn-default" ng-click="addNewParam()">
<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
  Add parameter</button>
  <br><br>
  <button type="submit" class="btn btn-danger" ng-click="return()">Return</button>
  <button type="submit" class="btn btn-primary" ng-click="createTest()">Save</button>
</form>

      </div>


    </div>


  </div><!-- /.col-lg-6 -->
    
  </div>
</div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>