<div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a>
                        {{ name }}
                   </a>
                </li>
                <li >
                    
                    <a href="#/app/{{name}}/dashboard">
                    <span class="glyphicon glyphicon-dashboard" aria-hidden="true">
                      </span> Dashboard</a>
                </li>
      
                
                <li>
                    <a href="#/app/{{name}}/stats">
                  <span class="glyphicon glyphicon-stats" aria-hidden="true"> </span> Stats
                  </a>
                </li>
                <li>

                    <a href="#/app/{{name}}/events"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"> </span> Events
                    </a>
                </li>
                <li>
                    <a href="#/app/{{name}}/tests">
                  <span class="glyphicon glyphicon-flash" aria-hidden="true"> </span> Tests
                  </a>
                </li>
                
                <li>
                    <a href="#/app/{{name}}/config">
                     <span class="glyphicon glyphicon-cog" aria-hidden="true"> </span>
                    Settings
                    </a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
            

<div class="panel panel-default">
  
  <div class="panel-body">
  <ol class="breadcrumb">
  <li><a href="#/app/{{name}}/tests/">Collections</a></li>
  <li><a href="#/app/{{name}}/tests/collection/{{collection.name}}">{{collection.name}}</a></li>
  <li class="active">Run</li>
</ol>
  <h1> {{collection.name}} - Config Test Scenario </h1> <hr/>


<div class="row" style="padding-top:0px">
<div class="col-md-12 col-lg-12">
<div class="alert alert-danger" role="alert" ng-hide="alert.hide">{{alert.message}}</div>
</div>
<div class="col-md-6 col-lg-6">

	<h4> Max requests: </h4>
  <input class="form-control" type="text" placeholder="A max number of requests" ng-model="run.maxRequests"/>
  <h4> Concurrency: </h4>
  <input class="form-control" type="text" placeholder="How many clients to start in parallel." ng-model="run.concurrency"/>
  <h4> Max Time(Seconds): </h4>
  <input class="form-control" type="text" placeholder="Max number of seconds to run the tests." ng-model="run.maxTime"/>
</div>
	<div class="col-md-6 col-lg-6">
	<h3> Select Tests: </h3>
  <div class="checkbox" ng-repeat="test in tests">
  <label>
    <input type="checkbox" ng-model="test.check">
   		{{test.name}}
  </label>
</div>
</div>

</div>
<br>
<div class="row">
  
  <div class="col-md-6 col-lg-6">
    <a ng-click="run()" class="btn btn-lg btn-primary" role="button">
  <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
  Run
  </a>
</div>
</div>

  </div><!-- /.col-lg-6 -->
    <div class="panel-footer"></div>
  </div>
</div>
                        
                  
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>